<!DOCTYPE html>
<html>
<head>
  <title>Rails31Jan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>

<br>
    <%= link_to "home", producers_path, class: "btn btn-default" %> - 
    <%= link_to "new producer", new_producer_path, class: "btn btn-default" %>
  </div>
</body>
</html>
